.PlanHistoryPage {
    width: 800px;
}

.PlanHistoryPage .body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.PlanHistoryPage h2 {
    margin-top: 20px;
    margin-bottom: 15px;
}

.PlanHistoryPage a {
    font-size: 20px;
}