
.ActivityPlanDetail {
    overflow-y: scroll;
    border-left: 2px solid black;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    align-items: center;
    width: 100%;
}

div.plan-heading {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    background-color: aliceblue;
    width: 100%;
}

div.planItems {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 95%;
}

.newplan {
    font-size: 20px;
    font-weight: 600;
}

.start-date {
    font-weight: 600;
}

.plan-heading p {
    padding: 0;
    margin: 4px;
}

h5 {
    margin-top: 10px;
}

div.ActivityPlanDetail {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
}

.empty {
    margin-top: 50px;
}

.save-btn {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
}
