table button {
    padding: 10px;
}

div.PlanItem {
    width: 96%;
}

.PlanItem table {
    border: 1px solid black;
    width: 100%;
    margin: 5px;
    padding: 5px;
}

.PlanItem table td {
    border-right: 1px solid black;
}

.duration {
    width: 66px;
}

.button {
    width: 37px;
}
