span {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 15px;
}

div.PlanItem {
    display: flex;
    justify-content:space-evenly;
    flex-direction: column;
    padding-bottom: 10px;
}