h2 {
    padding-top: 10px;
    padding-bottom: 0;
    margin-bottom: 0;
}

.body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #F9D7CF;
    height: 100vh;
    border: 2px solid black;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* margin: 10px; */
    margin-bottom: 0px;
    padding: 20px;
    background-color: #BBE6E9;
    border: 2px solid black;
}

aside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    max-width: 300px;
    border-right: 2px solid black;
}

footer {
    height: 10vh;
    padding: 10px;
    /* margin: 10px; */
    margin-top: 0;
    padding-top: 0;
    background-color: #BBE6E9;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border: 2px solid black;

}

button {
    margin-right: 15px;
}