.NewPlanPage {
    width: 800px;
}

.activity-list h2 {
    margin-bottom: 15px;
    padding-top: 20px;
    border-bottom: 1px solid black;
    margin-top: 0;
}

.body {
    background-color: #F9D7CF;
    width: 100%;
    border: 2px solid black;
}

.header {
    display: flex;
    align-items: center;
    padding-bottom: 5px;
    background-color: #BBE6E9;
    border: 2px solid black;
    padding: 10px;
}


aside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    border-right: 2px solid black;
    padding-top: 10px;
}

footer {
    height: 8vh;
    width: 100%;
    background-color: #BBE6E9;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    border: 2px solid black;
}

footer span {
    margin: 0px 10px 5px 10px;
}

.activity-plan-detail {
    height: 100%;
    width: 100%;
}
