.CategoryList h3 {
    margin-bottom: 20px;
}
ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

ul li {
    padding-top: 20px;
    padding-bottom: 20px;
    /* width: 110px; */
}