body {
  margin: auto;
  height: 100%;
  font-family: sans-serif;
  background-color: rgb(225, 137, 137);
}

button {
  padding: 3px;
  margin: 1px;
}


li.active {
  background-color: azure;
}

button:disabled, form:invalid button[type="submit"] {
  cursor: not-allowed;
  background-color: var(--tan-4);
}

